body, html, .erozea-map-outer {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.eorzea-map-inner {
  width: 100%;
  height: 100%;
}
.eorzea-map-place-name {
  color: #fff;
}
.leaflet-control-container, .eorzea-map-label {
  display: none !important;
}
.info {
  position: absolute;
  top: 4px;
  color: #ccc;
  z-index: 9999;
  font-size: 12px;
}
#title {
  left: 10px;
}
#pos {
  right: 10px;
  font-style: italic;
}