.overlay-market .quantity {
  margin-left: 2px;
  font-size: .875em;
}

.overlay-market .quantity .icon-hq {
  margin-right: 2px;
  font-size: .875em;
}

.overlay-market .group {
  color: #FFFA;
  font-size: .875em;
}

.overlay-market .lowest {
  color: #b7ca32
}

.overlay-market .hq {
  margin-left: 2px;
}

.overlay-market .lowest .icon-hq path {
  fill: #b7ca32;
}

.overlay-market .group .icon-hq path {
  fill: #FFFA;
}