.notice-welcome {
  padding: 0 10px;
  font-size: 0.875em;
}

.notice-welcome p {
  margin: 5px 0 10px;
}

.notice-welcome ol {
  margin: 0;
}

.copyright {
  position: absolute;
  bottom: 0;
  opacity: .6;
}