.dialog {
  position: relative;
  background: rgba(#000, .25);
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;

  $dialog-arrow-size: 8px;
  &::before {
    position: absolute;
    display: block;
    content: "";
    border: $dialog-arrow-size solid transparent;
  }

  @mixin arrow($y, $x, $border) {
    &-#{$y}-#{$x}::before {
      #{$x}: 5px;
      #{$y}: -$dialog-arrow-size * 2;
      border-#{$border}-color: rgba(#000, .25);
    }
  }

  @include arrow(top, left, bottom);
  @include arrow(top, right, bottom);
  @include arrow(bottom, left, top);
  @include arrow(bottom, right, top);
}
