.overlay-map-event {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: stretch;

  > .map-points {
    flex: 1 1 200px;
    padding-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    overflow-y: scroll;

    > div {
      padding: 5px 0;
    }
  }
  
  > .map-container {
    flex: 5;
    overflow: hidden;
  }

  .point .position {
    display: inline-block;
  }
}

.overlay-map-event iframe {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
}

.map-post-moogle {
  .icon-edit {
    margin-left: 2px;
    margin-bottom: 2px;
  }

  &-setting {
    position: absolute !important;
    z-index: 10;
    right: 15px;
    width: 600px;
    max-width: calc(100vw - 50px);

    .space-between > :last-child {
      text-align: right;
    }

    > div:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &-list {
    margin: 0;
    padding: 0;
    list-style: none;
  
    li {
      display: flex;
      justify-content: space-between;
    }
  }
}

.map-event-world .icon {
  font-size: .75em;
  margin-left: 2px;
}
