.overlay-cactpot th {
  width: 40px;
  padding: 5px 10px;
  line-height: 24px;
  height: 24px;
  text-align: center;
}

.overlay-cactpot td {
  padding: 10px;
  text-align: center;
}

.cactpot-input {
  display: inline-block;
  height: 30px;
  width: 30px;
  line-height: 30px;
  border: 1px solid #fff;
  color: #fff;
  border-radius: 50%;
  vertical-align: middle;
}

.cactpot-input.highlight {
  border-color: #b7ca32;
  color: #b7ca32;
}

.cactpot-max {
  color: #b7ca32;
}